<div class="map">
    <table>
        <tr>
            <td></td>
            <td [class.good] = statusUp></td>
            <td></td>
        </tr>
        <tr>
            <td [class.good] = statusLeft></td>
            <td class="good">You</td>
            <td [class.good] = statusRight></td>
        </tr>
        <tr>
            <td></td>
            <td [class.good] = statusDown></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="controls">
    <button (click) = "moveUp()" *ngIf = "statusUp"><img src="assets/gora.png"></button>
    <button (click) = "moveLeft()" *ngIf = "statusLeft"><img src="assets/lewo.png"></button>
    <button (click) = "moveRight()" *ngIf = "statusRight"><img src="assets/prawo.png"></button>
    <button (click) = "moveDown()" *ngIf = "statusDown"><img src="assets/dol.png"></button>
</div>